body {
    margin: 0;
    padding: 0;
}

.container {
    position: fixed;
    margin: auto;
    background: lightgray;
    border-width: 1px;
    border-radius: 1%;
    width: 100%;
    height: 100%;
}

.logo {
    text-align: left;
    margin: auto;
    font-family: sans-serif;
    display: inline;
    color: black;
    font-size: xx-large;
}

.color-picker-container {
    text-align: center;
    display: inline;
    margin: auto;
    font-family: sans-serif;
    color: black;
}

.brushsize-container {
    text-align: center;
    display: inline;
    margin: auto;
    font-family: sans-serif;
    color: black;
    margin-left: 12px;
}

.tools-section {
    margin: auto;
    padding: 10px;
    width: 90%;
}

.board-container {
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 1%;
    background: white;
    border-width: 1px;
    border-radius: 1%;
    box-shadow: 0px 0px 20px 1px grey;
}